.heding-cor {
    margin-top: 90px;
    margin-left: 20px;
}
.correlation{
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    background-color: aquamarine;
}
@media screen and (max-width: 876px) {
    .correlation{
        width: 90%;
        float: none;
    }
}
    

table, th, td {
  border:1px solid black;

}
.correlation-t {
    float: right;
    width: 43%;
    margin-top: 6px;
    padding: 10px;
    background-color: rgb(101, 114, 110);
}
@media screen and (max-width: 876px) {
    .correlation-t{
        float: none;
        width: 90%;
    }
}

.correlation-t-x {
    width: 100px;
    text-align: center;
}
.correlation-t-y {
    width: 100px;
    text-align: center;
}
.correlationAns span {
    position: relative;
    top: 20px;
    padding: 10px;
    width: 200px;
    height: 25px;
    text-align: center;
    background-color: rgb(125, 180, 164);
    border: 1px solid black;
    margin-left: 20px;
    border-radius: 5px;
}
.table1 {
    float: left;
    width: 20%;
    position: relative;
    top : -100px;
}
.table2 {
    float: left;
    width: 20%;
    position: relative;
    top : -100px;
}
.correlationButton button {
    border: 1px solid black;
    border-radius: 5px;
    margin : 10px;
    height : 30px;
}
.input input {
    border: 1px solid black;
    border-radius: 5px;
    margin : 10px;
    height : 30px;
}
.input button {
    border: 1px solid black;
    border-radius: 5px;
    margin : 10px;
    height : 30px;
}
.input button:hover, .correlationButton button:hover {
    background-color: rgb(125, 180, 164);
    cursor: pointer;
}