.nav {
    margin: top 0;
    background-color: #64ffda;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.imgLogo{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    z-index: 1;
}
.imgLogo2 {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.Heading-main {
    font-size: 50px;
    font-weight: bold;
    color: #233554;
    margin-top: -90px;
}
@media screen and (max-width: 800px) {
    .nav {
        height: 80px;
    }
    .Heading-main {
        font-size: 30px;
        margin-top: -70px;
    }
    .imgLogo, .imgLogo2 {
        width: 75px;
        height: 75px;
    }
}
@media screen and (max-width: 535px) {
    .nav {
        height: 50px;
    }
    .Heading-main {
        font-size: 20px;
        margin-top: -45px;
    }
    .imgLogo,.imgLogo2 {
        width: 50px;
        height: 50px;
    }
    
}
    

    
